<!DOCTYPE html>
<html lang="en-CA">
    {% load static %}
    <head>
        <meta charSet="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Desi Wanderer</title>
        <link rel = "icon" href = "{% static 'LogoSample.jpg' %}" type = "image/x-icon">
        <link rel="alternate" type="application/atom+xml" href="https://desiwanderer.in/f.atom"/>
        <link rel="alternate" type="application/json" href="https://desiwanderer.in/f.json"/>
        <link rel="alternate" type="application/rss+xml" href="https://desiwanderer.in/f.rss"/>
        <meta name="author" content="Traveller"/>
        <link rel="apple-touch-icon" sizes="57x57" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:57,h:57,m"/>
        <link rel="apple-touch-icon" sizes="60x60" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:60,h:60,m"/>
        <link rel="apple-touch-icon" sizes="72x72" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:72,h:72,m"/>
        <link rel="apple-touch-icon" sizes="114x114" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:114,h:114,m"/>
        <link rel="apple-touch-icon" sizes="120x120" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:120,h:120,m"/>
        <link rel="apple-touch-icon" sizes="144x144" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:144,h:144,m"/>
        <link rel="apple-touch-icon" sizes="152x152" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:152,h:152,m"/>
        <link rel="apple-touch-icon" sizes="180x180" href="//img1.wsimg.com/isteam/ip/static/pwa-app/logo-default.png/:/rs=w:180,h:180,m"/>
        <meta property="og:url" content="https://desiwanderer.in/"/>
        <meta property="og:site_name" content="Desi Wanderer"/>
        <meta property="og:title" content="Desi Wanderer"/>
        <meta property="og:description" content=" Roaming Roads: Adventures from Around the World "/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://img1.wsimg.com/isteam/videos/uGbA6v1EwwF20VGXJ"/>
        <meta property="og:locale" content="en_CA"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Desi Wanderer"/>
        <meta name="twitter:description" content="Unveiling the World!"/>
        <meta name="twitter:image" content="https://img1.wsimg.com/isteam/videos/uGbA6v1EwwF20VGXJ"/>
        <meta name="twitter:image:alt" content="Desi Wanderer"/>
        <meta name="theme-color" content="#46676D"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>

<div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-11 c1-3h c1-z c1-3i c1-2w c1-b c1-c c1-d c1-e c1-f c1-g">
    <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-11 c1-p c1-3j c1-b c1-c c1-d c1-e c1-f c1-g">
        <nav data-ux="Nav" data-aid="HEADER_NAV_RENDERED" role="navigation" class="x-el x-el-nav c1-1 c1-2 c1-1i c1-3k c1-b c1-c c1-d c1-e c1-f c1-g">
            <ul data-ux="List" id="nav-42853" class="x-el x-el-ul c1-1 c1-2 c1-12 c1-14 c1-15 c1-13 c1-3l c1-3m c1-3n c1-p c1-37 c1-2u c1-38 c1-2v c1-b c1-c c1-d c1-e c1-f c1-g">
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="menu" data-ux="NavLinkActive" target="" data-page="2dbc3c68-54c1-4511-8f4b-14af5ec7c5f0" data-edit-interactive="true" href="/" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-3x c1-b c1-2x c1-c c1-3y c1-3z c1-40 c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Active.42855.click,click">Home</a>
                </li>
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="false" data-ux="NavLink" target="" data-page="2d6cd8f2-e19f-405d-99e0-6ff48d28dcb4" data-edit-interactive="true" href="/about" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-42 c1-43 c1-44 c1-45 c1-34 c1-32 c1-31 c1-33 c1-b c1-2x c1-c c1-3y c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Default.42856.click,click">About</a>
                </li>
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="false" data-ux="NavLink" target="" data-page="61521ac4-6e7e-4b52-a4b6-5b8a46b71b15" data-edit-interactive="true" href="/contact" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-42 c1-43 c1-44 c1-45 c1-34 c1-32 c1-31 c1-33 c1-b c1-2x c1-c c1-3y c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Default.42857.click,click">Contact</a>
                </li>
        </nav>
    </div>
</div>
  <!-- {% load static %} -->
                        <div class="header">

                            <h1 style="text-align: center; color: rgb(70, 103, 109);">{{ posts.title }}</h1>
                        </div> 
                        <div class="row">
                          <div class="leftcolumn">
                            <div class="card">
                                <a style="text-decoration: none; color: rgb(70, 103, 109);">
                              
                              <h3>{{ posts.created_at}} </h3>
                              <h4> {{ posts.body }}</h4>
                            </a>  
                            </div>
                            </div>
                          </div> 
                          <div id="84018e6c-a859-4f30-b691-b5ffe8050167" class="widget widget-footer widget-footer-footer-2">
                            <div data-ux="Widget" role="contentinfo" id="84018e6c-a859-4f30-b691-b5ffe8050167" class="x-el x-el-div x-el c1-1 c1-2 c1-bd c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div>
                                    <section data-ux="Section" class="x-el x-el-section c1-1 c1-2 c1-bd c1-i c1-j c1-b c1-c c1-l c1-m c1-d c1-e c1-f c1-g">
                                        <div data-ux="Container" class="x-el x-el-div c1-1 c1-2 c1-35 c1-36 c1-s c1-t c1-1i c1-b c1-c c1-59 c1-d c1-5a c1-e c1-5b c1-f c1-5c c1-g">
                                            <div data-ux="Layout" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                                <div data-ux="Grid" class="x-el x-el-div c1-1 c1-2 c1-11 c1-6o c1-6p c1-6q c1-12 c1-13 c1-14 c1-15 c1-z c1-77 c1-b c1-c c1-d c1-e c1-f c1-g">
                                                    <div data-ux="GridCell" class="x-el x-el-div c1-1 c1-2 c1-6o c1-ck c1-6u c1-6v c1-1i c1-37 c1-2u c1-38 c1-2v c1-b c1-c c1-d c1-cl c1-cm c1-e c1-f c1-g">
                                                        <div data-ux="FooterDetails" data-aid="FOOTER_COPYRIGHT_RENDERED" data-typography="BodyAlpha" class="x-el c1-1 c1-2 c1-1u c1-1b c1-4p c1-12 c1-14 c1-b c1-cn c1-c c1-27 c1-d c1-co c1-e c1-f c1-g x-rt">
                                                            <p style="margin:0">
                                                                <span>Copyright © 2023- All Rights Reserved.</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div data-ux="GridCell" class="x-el x-el-div c1-1 c1-2 c1-6o c1-ck c1-6u c1-6v c1-1i c1-37 c1-2u c1-38 c1-2v c1-b c1-c c1-d c1-cl c1-cm c1-e c1-f c1-g">
                                                        <p data-ux="FooterDetails" data-aid="FOOTER_POWERED_BY_RENDERED" data-typography="BodyAlpha" class="x-el x-el-p c1-1 c1-2 c1-1u c1-1b c1-4p c1-80 c1-14 c1-b c1-cn c1-c c1-27 c1-d c1-cp c1-b2 c1-e c1-f c1-g">
                                                            <span>Developed by DesiWanderer</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                          </div>
                                  <script type="text/javascript">
                                      "IntersectionObserver"in window && "Intl"in window && "Locale"in window.Intl || document.write(`\x3Cscript src="https://img1.wsimg.com/poly/v3/polyfill.min.js?rum=0&unknown=polyfill&flags=gated&features=Intl.~locale.en-CA">\x3C/script>`)
                                  </script>
                                  <script src="//img1.wsimg.com/blobby/go/045815d5-2dad-4918-a07c-5e012ebb8f1b/gpub/d6067babd3e1f05d/script.js" crossorigin></script>
                                  <script src="//img1.wsimg.com/ceph-p3-01/website-builder-data-prod/static/widgets/UX.4.32.2.js" crossorigin></script>
                                  <script src="//img1.wsimg.com/blobby/go/045815d5-2dad-4918-a07c-5e012ebb8f1b/gpub/d1ea1263667a988f/script.js" crossorigin></script>
                                  <script defer src="//img1.wsimg.com/traffic-assets/js/tccl.min.js" crossorigin></script>
                              </body>
                          </html>
                    