<!DOCTYPE html>
<html lang="en-CA">

<div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-11 c1-3h c1-z c1-3i c1-2w c1-b c1-c c1-d c1-e c1-f c1-g">
    <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-11 c1-p c1-3j c1-b c1-c c1-d c1-e c1-f c1-g">
        <nav data-ux="Nav" data-aid="HEADER_NAV_RENDERED" role="navigation" class="x-el x-el-nav c1-1 c1-2 c1-1i c1-3k c1-b c1-c c1-d c1-e c1-f c1-g">
            <ul data-ux="List" id="nav-42853" class="x-el x-el-ul c1-1 c1-2 c1-12 c1-14 c1-15 c1-13 c1-3l c1-3m c1-3n c1-p c1-37 c1-2u c1-38 c1-2v c1-b c1-c c1-d c1-e c1-f c1-g">
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="menu" data-ux="NavLinkActive" target="" data-page="2dbc3c68-54c1-4511-8f4b-14af5ec7c5f0" data-edit-interactive="true" href="/" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-3x c1-b c1-2x c1-c c1-3y c1-3z c1-40 c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Active.42855.click,click">Home</a>
                </li>
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="false" data-ux="NavLink" target="" data-page="2d6cd8f2-e19f-405d-99e0-6ff48d28dcb4" data-edit-interactive="true" href="/about" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-42 c1-43 c1-44 c1-45 c1-34 c1-32 c1-31 c1-33 c1-b c1-2x c1-c c1-3y c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Default.42856.click,click">About</a>
                </li>
                <li data-ux="ListItemInline" class="x-el x-el-li nav-item c1-1 c1-2 c1-3o c1-15 c1-3p c1-1g c1-3q c1-30 c1-3r c1-3s c1-p c1-2e c1-b c1-c c1-3t c1-3u c1-d c1-e c1-f c1-g">
                    <a rel="" role="link" aria-haspopup="false" data-ux="NavLink" target="" data-page="61521ac4-6e7e-4b52-a4b6-5b8a46b71b15" data-edit-interactive="true" href="/contact" data-typography="NavAlpha" class="x-el x-el-a c1-3v c1-1f c1-1t c1-1u c1-1b c1-3w c1-1w c1-42 c1-43 c1-44 c1-45 c1-34 c1-32 c1-31 c1-33 c1-b c1-2x c1-c c1-3y c1-23 c1-41 c1-d c1-e c1-f c1-g" data-tccl="ux2.HEADER.header9.Nav.Default.Link.Default.42857.click,click">Contact</a>
                </li>
        </nav>
    </div>
</div>
  <!-- {% load static %} -->
                        <div class="header">

                            <h1 style="text-align: center; color: rgb(70, 103, 109);">{{ posts.title }}</h1>
                        </div> 
                        <div class="row">
                          <div class="leftcolumn">
                            <div class="card">
                                <a style="text-decoration: none; color: rgb(70, 103, 109);">
                              
                              <h3>{{ posts.created_at}} </h3>
                              <h4> {{ posts.body }}</h4>
                            </a>  
                            </div>
                            </div>
                          </div> 